
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue-简易留言板</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <style type="text/css">
    lable
	{
        position:relative;
	left:900px;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <h1 class="text-center"><a href="#" class="">简易留言板</a></h1>
            </div>
        </nav>
    </header>
    <div id="app">
        <div class="container" style="margin-bottom: 20px;">
            <input autofocus v-model="message" class="form-control" placeholder="请输入留言" @keyup.enter="add1">
            <br>
            <button @click="add1" class="btn btn-primary btn-block">提交</button>
        </div>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">留言列表</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="array in array1">{{ array }}</li>
                    </ul>
                    <button @click="rem" class="btn btn-danger btn-block">清空留言</button>
                </div>
            </div>
        </div>
		</br>
	<form >
	<div >
                <lable>删除单条留言</lable>
		<select id="danshan" v-model="target1" @click="shanchu" class="form-control">
 		 </select>
	</div>
	</form>
	<p>{{target1}}</p>
    </div>



    <script>
       var vm = new Vue({
  	el: '#app',
        data: {
       		message: '',
		array1:[],
		k:0,
		target1:'',
 	 },	
	methods: {
   	        add1:function(){
			this.array1.push(this.message);
       	       		this.k += 1;
			var xuanxiang = document.getElementById("danshan");
			if(this.array1.length > 0 ){
				//alert(this.k);
	 			 danshan.innerHTML += "<option>"+this.k+"</option> ";
			}

				},
		rem:function(){
			this.array1 = [];
			danshan.innerHTML = ""
			this.message='';
			this.k = 0;
			
		},
		shanchu:function(){
			if(this.target1){
				for(i=this.target1-1;i<this.array1.length;i++){
				this.array1[i] = this.array1[i+1];
				}
				this.array1.pop();
				this.target1 ='';
				danshan.innerHTML = '';
				for(j=1;j<=this.array1.length;j++){
					 danshan.innerHTML += "<option>"+j+ "</option> ";
					 this.k = j;   
		  		}

	  		 }
	   		
		}
	}
	})
    </script>
</body>

</html>
